@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.exp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);

  background-size: 7px 7px;
  animation: move 4s linear infinite;
}

.container {
  height: 100%;
}

.title {
  margin-bottom: -6vh;
  margin-top: 26vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
  color:
}

.projs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  gap: 140px;
}

.cardproj {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.cardproj:hover {
  transform: translateY(-10px);
}

.cardproj-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* From Uiverse.io by adamgiebl */ 
button.custom-button {
  background: #ff8c00;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid rgb(255, 115, 0);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  color: white; /* Ensure the text is visible with the default orange background */
}

button.custom-button:hover {

  border: 3px solid #000000; /* Keep the border orange */
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button.custom-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
