@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.exp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #000000; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #000000 25%,
    #000000 25%,
    #000000 50%,
    #000000 50%,
    #ffffff 75%,
    #000000 75%,
    #1a1a1a
  );
  background-size: 7px 7px;

  /* Animation */
  animation: move 4s linear infinite;
}

.container {

  height: 100%;
}

.title{
  margin-bottom: -6vh;
  margin-top: 26vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
}
.projs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute; /* Position the cards absolutely within the parent div */
  top: 70%; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%); /* Center the cards horizontally */
  gap: 140px; /* Space between the cards */
}

.cardproj {
  width: 140px; /* Set width for the card */
  height: 140px; /* Set height for the card */
  border-radius: 50%; /* Make the card round */
  overflow: hidden; /* Ensure the image stays within the round shape */
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */
  cursor: pointer; /* Show pointer cursor on hover */
}

.cardproj:hover {
  transform: translateY(-10px); /* Translate the card upwards on hover */
}

.cardproj-image {
  width: 100%; /* Ensure the image covers the card */
  height: 100%; /* Ensure the image covers the card */
  object-fit: cover; /* Cover the card without stretching the image */
}
