body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/bg7.jpeg') no-repeat center center;
    background-size: cover; /* Make sure the image covers the entire viewport */
    font-family: Arial, sans-serif;
}

.main-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-display {
    position: relative;
    width: 1000px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the display */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-radius: 60px;
    overflow: hidden; /* Hide overflowing content */
}

.left-cards,
.right-cards {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 0;
}

.left-cards {
    left: 0;
    transform: translate(-105%, -50%);
}

.right-cards {
    right: 0;
    transform: translate(105%, -50%);
}

.card, .cardS {
    backdrop-filter: blur(10px); /* Apply blur effect */
    background: rgba(0, 0, 0, 0.329); /* Transparent background to enhance glass effect */
}

.card {
    width: 260px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    border-radius: 30px;
}

.cardP {
    width: 325px;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
   
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: row;
}

.cardP img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.cardP .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardP h1 {
    font-size: 30px;
    margin: 0;
}

.cardP p {
    margin: 5px 0 0 0;
}

.cardS {
    width: 325px;
    height: 500px;
    color: white;
    display:table-column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    border-radius: 30px;
}

.AboutMe {
    width: 100%;

    font-size: 16px;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}
.education {
    width: 100%;

    font-size: 16px;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
}

.education h1 {
    font-size: 32px;
}

.education ul {
    text-align: justify;
    margin-left: 40px;
    margin-right: 60px;
}




.main-container:hover .left-cards .card,
.main-container:hover .left-cards .cardP,
.main-container:hover .left-cards .cardS,
.main-container:hover .right-cards .card {
    transform: translateX(0);
    opacity: 1;
}

.left-cards .card, .cardP, .cardS {
    transform: translateX(100%);
}

.right-cards .card {
    transform: translateX(-100%);
}
